div(class="classIntro")
    h3 班级简介
    div
        div(class="media")
            div(class="media-left")
                img(src="images/loginbg.jpeg", alt="", srcset="" width="450")
            div(class="media-body")
                h4(class="media-heading") 2015级网络系统管理一班
                p 四川邮电职业技术学院计算机科学系2015级网路系统管理一班。。。