extends ../layout/layout

block content
    //- h1= title
    //- p Welcome to #{title}
    //- - if(user)
    //-     p #{user.username}
    //- - if(success)
    //-     p #{success}
    //- - if(error)
    //-     p #{error}
    link(rel="stylesheet", href="stylesheets/index/index.css")
    include carousel.pug
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-4")
                include notice.pug
            div(class="col-sm-8")
                include classIntro.pug