form(class="form-horizontal" id="post_form" method="post")
    input(type="text" name="username" id="username" placeholder="名字" maxlength="20" )
    br
    input(type="submit" value="添加" id="su'erChange")