doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap-theme.min.css", rel="stylesheet")
    link(href="/stylesheets/header.css", rel="stylesheet")
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
  body
    header 
      include header.pug
    div(class="contain")
      block content
    footer
      include footer.pug
    script(src="/javascripts/script.js")
    