div(class="msg_his")
    h4 群聊有
        span(id="guestNum")
    div(class="msg_container" id="msg_container")

div(class="msg_input")
    form(role="form")
        div(class="form-group")
            textarea(class="form-control" id="msgInput" rows="3" cols="3" style="resize: none")
            input(type="button" class="btn btn-lg btn-primary" id="msgSend" value="发送")